

<div class="card">
  <div class="card-header">
    <h4>Edit Profile
      <% resource_name.to_s.humanize %></h4>
  </div>
  <div class="card-body">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field input-group mb-4">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: :email %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field input-group">
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control",  placeholder: "Password (leave blank if you don't want to change it)" %>
      </div>

      <div class="mb-4">
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field input-group mb-4">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: :password_confirmation %>
      </div>

      <div class="field input-group mb-4">
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", placeholder: "Current password (we need your current password to confirm your changes)" %>
      </div>
      <br/>
      <div class="actions">
        <%= f.submit "Update", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<br/>
<br/>

<div class="card">
  <div class="card-header">
    <h4>Cancel my account</h4>
  </div>

  <div class="card-body">
    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>
  </div>
</div>
<br/>
<%= link_to "Back", :back, class: "btn btn-link" %>
